*{
    margin: 0%;
    padding: 0%;
}

h1{
    color: #615aa6;
    margin-left: 420px;
    padding-top: 30px;
    
    height: 100px;
    font-size: 90px;
    text-shadow: 7px 5px 5px rgb(39, 38, 38);
  

}
.heading{
    background-color:#c0a9dd;
    height: 200px;
    
}
.logo{
    position: absolute;
    top:0;
    left:0;

    
}
.logo img{
    height: 120px;
    margin-top: 45px;
    margin-left: 20px;
}

.sub_heading{
    color: aliceblue;
    display:flex ;
     flex-direction: row;
     align-content: center;
     gap:200px;
     margin-left: 320px;
     font-size: 15px;

 
}
h2{
    padding-top: 18px;
   
}


h3{
   text-align: center;
   padding-top: 40px;
   font-size: 30px;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
   width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c0a9dd;
    color: white;
  }
  h4{
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 30px;

  }

  #customers1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
   width: 100%;
  }
  
  #customers1 td, #customers1 th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers1 tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers1 tr:hover {background-color: #ddd;}
  
  #customers1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c0a9dd;
    color: white;
  }
  .block{
    padding: 40px;
  }
