*{
    margin: 0;
    padding: 0;
}
.logo{
    position: absolute;
    top:0;
    left:0;

    
}
.logo img{
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
}
.heading{
    position: absolute;
   top: 0;
    align-content: center;
    margin-top: 270px;
    margin-left: 350px;
    
    font-size: 60px;
    font-weight: 700;
    color: #605aa8;
    text-align: center;
               
}


h1{
  
    text-shadow: 7px 5px 5px rgb(39, 38, 38);
}



.sub_heading{
    position: absolute;
    top: 0;
     align-content: center;
     margin-top: 550px;
     margin-left: 200px;
     display:flex ;
     flex-direction: row;
     justify-content: space-between;
     gap: 250px;
     font-size: 25px;
     color: aliceblue;
     
   

}

